

$mycolor-principal:#5265E1;
$color-secundario: #FA5959;

$primary: $mycolor-principal;
$secondary: $color-secundario;

$position-values: (
  0: 0,
  5:5%,
  10:10%,
  15:15%,
  20:20%,
  25:25%,
  35:35%,
  40:40%,
  45:45%,
  50:50%,
  55:55%,
  60:60%,
  65:65%,
  70:70%,
  75:75%,
  80:85%,
  90:90%,
  95:95%,
  100: 100%
);

.areaBlueRight{

  background-color: $primary;
	width: 90%;
	top: 35%;
	height: 69%;
	left: 40%;
	border-radius: 200px 0 0 200px;
	z-index: -1;
  position: absolute;

}

.areaBlueLeft{

  background-color: $primary;
	width: 90%;
	top: 35%;
	height: 69%;
  right: 35%;
  z-index: -1;
  padding-bottom: 25px;
  border-radius: 0 200px 200px 0;
  position: absolute
  

}

@media (max-width: 575.98px) {

  .areaBlueRight{

    background-color: $primary;
    width: 75%;
    top: 40%;
    height: 60%;
    left: 25%;
    border-radius: 200px 0 0 200px;
    z-index: -1;
    position: absolute;
  
  }

  .areaBlueLeft{

    background-color: $primary;
    width: 75%;
    top: 40%;
    height: 60%;
    right: 25%;
    z-index: -1;
    padding-bottom: 25px;
    border-radius: 0 200px 200px 0;
    position: absolute
    
  
  }

  }



@import "./node_modules/bootstrap/scss/bootstrap.scss";


